body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
header{
  background-color: #fff;
  margin-top: 48px;
}
.main{
  background-color: #F4F4F4;
  overflow-y: scroll;
  max-height: 800px;
}
.footer {
  margin-top: 8px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
}
.btn-group{
  width: 100%;  
  border-radius: 30px;
  padding-bottom: 20px;
}
.footer .btn{
  color: #E55242;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border-color: #fff;
  height: 100px;
  width: 100px;
}




.footer button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer .far{
  font-size: 20px;
}

.wrapp-btn {
  display: block;
  width: auto;
  margin: 8px auto;
}


 .btn.one.btn-primary{
  color: #fff;
  text-align: center;
  background-color: #E55242;
  border-color: #E55242;
  border-radius: 8px;
  width: 48%;
  margin-right: 4px;
  
}


.btn.two.btn-primary{
  color: #E55242;
  text-align: center;
  background-color: #fff;
  border-color: #E55242;
  width: 48%;
  margin-left: 4px;
  
}

.card img{
  width: 128pt;
  border-radius: 8pt 0 0 8pt;
}

.card .far{
  margin: 16px 8px 0 0;
}

.card{
  margin: 32px 0;
  border-radius: 8pt;
}

h4{
  font-size: 24px;
  color: #303030;
}

.green{
  color: #36c756;

}

.orange{
  color: #E55242;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
